.quiz {
  display: none;
}

.result {
  display: none;
}

.score {
  display: none;
}

h1, h2, h3 {
  font-family: 'Inconsolata', sans-serif;
}

img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

h1 {
  width: 289px;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

pre {
  width: 430px;
  margin: 0 auto;
  padding: 15px;
  border: 3px solid black;
  font-family: 'Ubuntu Mono', monospace;
}

ul {
  width: 430px;
  margin: 15px auto 0 auto;
  cursor: pointer;
  list-style-type: none;
}

.welcome {
  text-align: center;
}

.quiz h4 {
  text-align: center;
}

.continue, .retake {
  display: block;
  margin: 0 auto;
}
