.quiz {
  display: none;
}

.result {
  display: none;
}

.score {
  display: none;
}

img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

h1 {
  width: 253px;
  margin: 0 auto;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
}

.welcome {
  text-align: center;
}

.quiz h4 {
  text-align: center;
}

.quiz pre {
  margin: 0 auto;
}
