.welcome, .quiz, .result, .score {
  margin-top: 60px;
}

.quiz, .result, .score {
  display: none;
}

h1, h2, h3, button, .current-score, .question {
  font-family: 'Open Sans', sans-serif;
}

.current-score, .question {
  height: 32px;
  line-height: 32px;
}

button {
  height: 32px;
  border: 1px solid black;
  color: black;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  color: white;
  background-color: black;
}

button:focus {
  outline: none;
}

img, .start, .continue, .retake {
  display: block;
  margin: 0 auto;
}

.statistics {
  width: 200px;
  margin: 0 auto;
  font-family: 'Ubuntu Mono', monospace;
}

img {
  width: 100px;
}

h1, h2, h3, .current-score, .question {
  text-align: center;
}

pre {
  width: 430px;
  margin: 10px auto 0 auto;
  padding: 15px;
  border: 3px solid black;
  font-family: 'Ubuntu Mono', monospace;
}

ul {
  width: 430px;
  margin: 15px auto 0 auto;
  cursor: pointer;
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 0 5px;
  line-height: 25px;
  font-family: 'Ubuntu Mono', monospace;
  transition: background-color 0.4s ease, color 0.4s ease;
}

li:hover {
  color: white;
  background-color: black;
}
